@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Tired of night after night endlessly typing employee and dependent data into your calculator,
        just to realize you were one number off and have to start all over? Let Employer Cost Preview™
        do the work for you while you do some other thing!</p>
</div>
